<<<<<<< HEAD
<% content_for :username do%>
<h1 class="title">Calendate</h1>
<h2 class="username"><%= @user.first_name + " " + @user.last_name %> </h2>
<% end %>


<div class ='logout'>
	<%= link_to 'Logout', logout_path, :method => :post %>
</div>



<div id="table">
	<table>
		<h1 id ='head_month'>August</h1>
		<thead>
			<tr><th class ='dayhead'>Sunday</th><th class ='dayhead'>Monday</th><th class ='dayhead'>Tuesday</th><th class ='dayhead'>Wednesday</th><th class ='dayhead'>Thursday</th><th class ='dayhead'>Friday</th><th class ='dayhead'>Saturday</th></tr>
		</thead>
		<tbody>
			<tr>
				<td class = 'regday'></td>
				<td class = 'regday'></td>
				<td class = 'regday'></td>
				<td class = 'regday'></td>
				<td class = 'regday'>
					<p class="num">1</p>
						<% @whatday = '2013-08-19'%>
				<%= simple_form_for @user, :url => calendar_show_path(current_user, @whatday), :method => :get  do |f| %>
					
				
				  <%= f.button :submit, value:'test', class: 'btn btn-primary'%>

				<% end %>

					

				   
				</td>
				<td class = 'regday'><p class="num">2</p></td>
				<td class = 'regday'><p class="num">3</p></td></tr>
				<tr>
					<%(4..10).each{|x|%> 
					<td class = 'regday'><p class="num"><%="#{x}"%></p></td><%}%>
				</tr>

				<tr>
					<%(11..17).each{|x|%> 
					<td class = 'regday'><p class="num"><%="#{x}"%></p></td><%}%>
				</tr>

				<tr>
					<%(18..24).each{|x|%> 
					<td class = 'regday'><p class="num"><%="#{x}"%></p></td><%}%>
				</tr>

				<tr>
					<%(25..31).each{|x|%> 
					<td class = 'regday'><p class="num"><%="#{x}"%></p></td><%}%>
				</tr>

		</tbody>
	</table>
</div>

