

<h1>Events for: <%= @day %></h1>    <%= link_to "Back to your Calendate!", user_show_path(current_user, @day), method: :get %>	


<div class ='logout'>
	<%= link_to 'Logout', logout_path, :method => :post %>
</div>



<div id ='leftcalen'>

	<% @alluserevents.each do |event| %>
		<div>
			<p>Event Time:  <%= event.event_time.to_formatted_s(:time) %> </p>
		</div>
		<div class = 'eventdiv'>
			<p>Event: <%= event.event %> </p>
			<p>Notes: <%= event.description %> </p>	
			<%= link_to "delete", calendar_delete_path(event.id, @day), method: :delete %>	
		</div>
	<% end %>
</div>

<div id='rightcalen'>

	<%= simple_form_for @newevent, :url => calendar_add_path(@day), :method => :post do |f| %>
	<h1>Add Event</h1>
	  <%= f.input :event, label: 'Title:' %>
	  <%= f.input :description, :as=> :text,  label: 'Notes' %>
	  	Time: <%= select_time() %>
	  <%= f.button :submit, value:'Add it!', class: 'btn btn-primary'%>

<% end %>







</div>
