<!DOCTYPE html>
<html>
<head>
  <title>Calendate2</title>
  <%= stylesheet_link_tag     "application", "users", "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "application", "users", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js">

  </script>
</head>
<body>
	<div class="nav">
		<%= yield :login %>
		<%= yield :username %>
	</div>
		<%= yield %>
</body>
</html> 